<div class="login">
  <p-toast></p-toast>
    <div class="login-img">
        <img src="im2.png" alt="">
    </div>
    <div class="login-page">
  <div class="login-card">
    <header>
        <img src="favicon.ico" alt="">
         <h3>Welcome to TaskNest</h3>
         <p>Login to your account to continue</p>
    </header>
   
    <form class="login-form" (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email"/>
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
      <p-button type="submit" Class="button" fluid [disabled]='loading()' >{{loading()?'Hang on...':'Login'}}</p-button>
    </form>
    <div class="signupChange">
        <p>don't have an account? <a routerLink="/signup"> Sign Up</a></p>
    </div>
  </div>
</div>
</div>
