:root{
--color-background: #fdfcff; 
--card-background:  #ffffff;;      
--dark-purple-text: #4c1d95;         
--color-card: #ffffff;               
--color-border: #e9d5ff;             

--mdark-purple-text: #6b21a8; 
--light-purple-text: #8b5cf6;
--gray-text: #636363; 

--color-error: #ef4444;      

--font-h1:24px;
--font-h2:16px;
--font-h3:14px;
--font-weight-normal: 400;    
--font-weight-medium: 500;    
--line-height-default: 1.5;
}