
<div class="overlay">
  <div class="overlay-content">
    <div class="profile-card" *ngIf="OpenProfileBar">

    <button class="close-btn">&times;</button>
    
    <div class="profile-header">
      <div class="avatar">AU</div>
      <h3>Profile Settings</h3>
      <p>Manage your account information</p>
    </div>

    <div class="user-details">
      <div class="detail-item">
        <label>Full Name</label>
        <p>{{user().Name}}</p>
      </div>
      <div class="detail-item">
        <label>Email</label>
        <p>{{user().Email}}</p>
      </div>
      <div class="detail-item">
        <label>PhoneNumber</label>
        <span class="role-badge">{{user().PhoneNumber}}</span>
      </div>
    </div>
    
    <button class="edit-btn" (click)="toggleEditMode()">
     Edit Profile
    </button>
  </div>

  <div class="editprofile" *ngIf="OpenEditMenu">
    <div class="profile-header">
      <div class="avatar">AU</div>
      <h3>Profile Settings</h3>
      <p>Manage your account information</p>
    </div>
    <div class="updateform">
      <form action="" #profileform="ngForm">
        <label for="name">Full Name</label>
        <input type="text" id="name" placeholder="{{updatedDetails.name}}" [(ngModel)]="updatedDetails.name" name="username">

        <label for="email">Email</label>
        <input type="text" id="email" placeholder="{{updatedDetails.email}}" [(ngModel)]="updatedDetails.email" name="email">

        <label for="phonenumber">Phone Number</label>
        <input type="text" id="phonenumber" placeholder="{{updatedDetails.phoneNumber}}" [(ngModel)]="updatedDetails.phoneNumber" name="phoenumber">

        <div class="action">
          <button (click)="saveChanges()">Save Changes</button>
          <button (click)="toggleProfileMode(profileform)">Cancel </button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>