
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="project-box">
  <p-toast></p-toast>
  <div class="header">
    <div class="title-section">
      <h3>{{Project.ProjectName}}</h3>
      <p>{{Project.ProjectDes}}</p>
    </div>
    <div class="action">
         <button class="add-task-btn" (click)="loadTasks()">Tasks</button>
    <button class="add-task-btn" *ngIf="user?.Role===roles.MANAGER" (click)="AddTask()">+ Add Task</button>
    <button  class="delete-button" *ngIf="user?.Role===roles.ADMIN" (click)="deleteproject()"><i class="pi pi-trash" style="size: 1rem;"></i></button>
    </div>
   
  </div>
  <div class="status-section">
    <span class="status-badge">{{projectCompletionpercentage==100?'Complete':projectCompletionpercentage>0?'Inprogress':'Pending'}}</span>
    <span class="tasks">{{totalTask}} Task</span>
  </div>
  <div class="progress-section">
    <label>Progress</label>
    <div class="progress-bar">
      <div class="progress-fill" [style.width]="projectCompletionpercentage+'%'"></div>
    </div>
    <span class="progress-percent">{{projectCompletionpercentage}} %</span>
  </div>
  <div class="deadline"><i class="pi pi-calendar" ></i>
    Deadline: {{Project.Deadline | date:"dd/MM/yyyy"}}
  </div>
</div>


