@use "app/shared/_variables.scss";
@import "primeicons/primeicons.css";
:root {
  --p-tooltip-background: var(--p-purple-500)  !important;
}

i.pi {
  backface-visibility: hidden;
  transform: translateZ(0);
}

* {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: var(--p-purple-50);
}
.font-h1 {
  color: var(--dark-purple-text);
  font-size: var(--font-h1);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-default);
}

.font-h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-default);
}
.font-h3 {
  font-size: var(--font-h3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-default);
}
