.summary-card {
      // border: medium solid var(--color-border);
      // border-radius: 16px;
      // padding: 22px 28px;
      // flex: 1;
      // box-shadow: 0 2px 12px rgba(116, 41, 209, 0.05);
      display: flex;
      // align-items: center;
      // min-width: 165px;
      .icon {
        font-size: 32px;
        margin-right: 12px;
      }
      .summary-info {
        span{
        font-size: 24px;
       
        // display: block;
        margin-bottom: 2px;
        color: var(--gray-text);
      }
       h3 {
        margin: 0;
        font-size: 26px;
        color: var(--dark-purple-text);
      }
      }
    }